I've been continuing my work on the Rig project I <a href="/post/rig-introduction/" target="_blank">introduced</a>&nbsp;back in September, as well as helping add Wayland support to GnomeShell, and was feeling bad that I haven't made time to post about the progress of either project and so wanted to give a quick status update for Rig...<br />
<br />
I think the easiest way to get a quick idea of how Rig has been shaping up is this overview video I made back in May that goes over the initial UI layout and features:<br />
<div class="separator" style="clear: both; text-align: center;">
<iframe width="560" height="315" src="https://www.youtube.com/embed/EAQU7Nmp98M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>
<br />
The main thing that's been changing UI wise since I made that video is that the bottom area is evolving beyond just timeline management into an area for "controllers" that must handle more then simple key-frame based animations.<br />
<br />
Controllers will support several methods of controlling properties, where key-frame animations would be one way, but other methods would be physics simulation, expressions that relate properties together and all manner of other high level behaviours. As an example of a behaviour Chris Cummins, one of the interns I've been working with, is experimenting with a Boids based flocking simulation which might offer us a fun way to introduce emergent, nature inspired aesthetics to the backdrop of a device.<br />
<br />
Probably the biggest architectural change in Rig is that it's now designed to be connected directly with a device that you are designing for to enable immediate feedback about performance, responsiveness and quality on real target hardware. We've added a networking layer using avahi and protocol buffers to discover devices and for synchronizing UI changes made in the designer with the device.<br />
<br />
Rig is aiming to help optimize the workflow of UI development and it seems that one of the biggest inefficiencies today is that interaction and visual designers often use tools that are completely unconstrained by the technologies and devices that will eventually be used to realize their ideas.<br />
<br />
Going further, the plan is to directly incorporate remote profiling visualization capabilities into Rig so that we can also allow device metrics to influence the design stages as early as possible instead of only using them as a diagnostic tool. UIs need to work within the limits of the hardware they run on otherwise the experience suffers. If we don't move to a situation where real metrics can influence the design early we either have to continue being ultra conservative with our UIs or we risk big problems being discovered really late in the development process that can either force us back to the drawing board or leave us scrambling to fix the technology under pressure.<br />
<div>
<br /></div>
To keep this update relatively short here's a quick run-through of the work that's been going on:<br />
<br />
<ul>
<li>UI design work</li>
<ul>
<li>Thanks to Mikael Metthey for his help creating mock ups for Rig, clearly a marked improvement over the very first visuals we used:</li>
</ul>
</ul>
<br />
<div class="separator" style="clear: both; text-align: center;">
<a href="/assets/images/rig/rig-mock-up.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="200" src="/assets/images/rig/rig-mock-up.png" width="320" /></a></div>
<br />
<ul>
<li>Device connectivity - as mentioned above.</li>
<li>Neil Roberts has worked on basic OSX support.</li>
<li>Neil also added binary update support since we'd like to aim for a browser like development model of continuously rolling out small features so once Rig is installed it will automatically evolve, getting better over time.</li>
<li>Bump mapping support for 3D models, for detailed lighting effects over complex models.</li>
<li>A pointillism effect by Plamena Manolova as a fun example of a generative art algorithm that can be handled efficiently on the GPU.</li>
<div class="separator" style="clear: both; text-align: center;">
<a href="/assets/images/rig/pointillism.png" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" height="320" src="/assets/images/rig/pointillism.png" width="320" /></a></div>
<li>Default cylindrical texture mapping of models that don't have their own texture coordinates.</li>
<li>Plamena is currently implementing an algorithm for tiling images across an arbitrary mesh.</li>
<li>Plamena has added initial support for real-time fur rendering, another visual style that clearly diverges from what's achievable with the traditional PostScript rendering model.</li>
<li>Chris has been working on a particle engine.</li>
<li>Chris has also been working on a Boids simulation engine to emulate flocking behaviours. The inspiration for this basically came from an exhibition made by Universal Everything: <i>(Full disclosure - I work for Intel, although the point here isn't the advertising, but just the idea of bringing more natural forms into user interfaces.)</i></li>
<div class="separator" style="clear: both; text-align: center;">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/7FSu1Iyc1as" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
</div>

<li>We've made some early progress experimenting with WebGL support.</li>
<ul>
<li>The low level graphics layer of Rig now supports WebGL but we have some further integration work to do still in the higher level engine code before we can really test the viability of this idea.</li>
</ul>
<li>Drag &amp; Drop, Copy &amp; Paste - work in progress. Not having this is really getting in the way of lots of other important interaction and feature work that we need to move onto next.</li>
</ul>
Next week I'm off to <a href="http://s2013.siggraph.org/" target="_blank">Siggraph</a>&nbsp;where we'll be publishing a whitepaper explaining why we feel there is a big opportunity to really raise the bar for how we manage UI development and we'll also have a short video introducing the Rig project.<br />
<br />
I'll also be at <a href="https://www.guadec.org/" target="_blank">Guadec</a>&nbsp;in August and I'd love to chat with anyone interested in Rig.<br />
<br />
I'll try not to wait so long before posting my next update here.